// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #176465;
$light-blue: #D3E9E3;
$pink: #FECB9E;
$skin: #D7B08E;
$space-gray: #2C3532;
$light-gray: #F4F4F4;
$better-gray: #747474;
